<div class="container">
  <div class="row">
    <div class="block tabContainerBlock col-12">
        <div class="block-content" id="detailTabs">
            <ul class="nav nav-tabs nav-justified collapseTabs" id="myTab" role="tablist">
                <li class="nav-item ">
                    <a class="nav-link hidden-xs d-none d-md-flex active" data-toggle="tab" href="#tab-options" role="tab" aria-controls="tab-options">
                        Select Options &amp; Buy
                    </a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link hidden-xs d-none d-md-flex" data-toggle="tab" href="#tab-quickshop" role="tab" aria-controls="tab-options">
                        Quick Shop
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#tab-spec" role="tab" aria-controls="tab-options">
                        Specification
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#tab-assets" role="tab" aria-controls="tab-options">
                        Marketing Assets
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#tab-related" role="tab" aria-controls="tab-options">
                        Related Products
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#tab-alternative" role="tab" aria-controls="tab-options">
                        Alternative Products
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#tab-recommend" role="tab" aria-controls="tab-options">
                        Recommend Products
                    </a>
                </li>
            </ul>
            
            <div class="tab-content" id="myTabContent">
                <app-select-options-tab>Loading..</app-select-options-tab>
            </div>
        </div>
    </div>
  </div>
</div>
