<div class="tab-pane mt-1 active hidden-xs" id="tab-options" role="tabpanel" aria-expanded="true">
  <!-- Filter by colour group -->
  <div class="section-product-filters justify-content-between row mb-md-2">
          <div class="col-12 col-sm-6 col-md-3 order-sm-2">
              <div class="form-group">
                  <label for="quickSelect" class="h5">Select Colour</label>
                  <div class="select-dropdown">
                      <select class="form-control" id="variantDropdown" 
                        data-target="sm-up" [(ngModel)]="selectedColorId"
                        (change)="chooseColors()">
                          <option disabled="disabled" selected="">-- Please Select --</option>
                            <option *ngFor="let color of colors" [ngValue]="color.id">{{color.title}}</option>
                            <option *ngIf="!colors.length" disabled>No colors in group</option>
                      </select>
                  </div>

              </div>
              <a class="btn btn-sm btn-outline-dark  d-md-none" href="#" data-toggle="prices">Show All Colours</a>
          </div>
          <div class="col-12 col-sm-8 order-sm-1 d-none d-md-block">
              <h4 class="mb-1 h5">Filter by Colour Group</h4>
              <div class="filters-reset float-right ml-2">
                  <a class="btn btn-filter filter-reset" 
                    (click)="reset()">Reset</a>
              </div>
              <div class="filters">
                  <a *ngFor="let group of colourGroups" 
                    class="btn btn-filter filter-{{group.title}} {{group.id == selectedGroupId ? 'selected-filter-btn' : ''}}"
                    (click)="chooseColourGroup(group.id)"
                    >{{group.title}}s</a>
              </div>
          </div>
      </div>

  <!-- Filter result -->
  <div class="section-product-variants d-flex">
      <article *ngFor="let product of products" class="variantMini" (click)="chooseProduct(product)">
          <div class="variant-img">
            <a href="" class="btn btn-action btn-right" 
                data-toggle="modal" data-target="#zoomModalsm-up"
                (click)="chooseProduct(product)">
                <i class="fa fa-search-plus"></i>
                <span class="sr-only">Zoom image</span>
            </a>
            <a href="" class="btn btn-action btn-left">
                <i class="fa fa-download"></i>
                <span class="sr-only">Download image</span>
            </a>
            <a class="variantSelect" data-target="#productSelect-sm-up" [attr.data-toggle]="enableCollapse"
                (click)="collapseTable('#productSelect-sm-up')">
                <img data-src="{{product.imageUrl}}" alt="" class="lazy img-fluid loaded" src="{{product.imageUrl}}" data-was-processed="true">
                <span *ngIf="product.status == 'new color'" class="variant-overlay bg-nc">{{product.status}}</span>
                <span *ngIf="product.status == 'raladeal'"class="variant-overlay bg-danger">{{product.status}}</span>
                <span *ngIf="product.status == 'new size'"class="variant-overlay bg-ns">{{product.status}}</span>
            </a>
          </div>
          <a role="button" class="variantSelect text-dark" 
            data-target="#productSelect-sm-up"
            [attr.data-toggle]="enableCollapse"
            (click)="collapseTable('#productSelect-sm-up')">{{product.name}}</a>
      </article>
  </div>

    <app-product-select-collapse *ngIf="selectedProduct" [product]="selectedProduct"></app-product-select-collapse>

  <!-- MODAL -->
    <div *ngIf="selectedProduct" class="modal fade bd-example-modal-lg" id="zoomModalsm-up" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Variant Colour</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body text-center">
                    <img class="img-fluid" src="{{selectedProduct.imageUrl}}">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>