<div class="section-product-select collapse" id="productSelect-sm-up">
  <div class="border border-light p-md-1 mb-1">
      <div class="row justify-content-between">
          <div class="d-none d-lg-block col-md-3 col-lg-2">
              <div class="variant-img mb-2 bg-white">
                  <a href="" class="btn btn-action btn-right" data-toggle="modal" data-target="#zoomModalsm-up">
                      <i class="fa fa-search-plus "></i>
                      <span class="sr-only">Zoom image</span>
                  </a>
                  <a href="" class="btn btn-action btn-left">
                      <i class="fa fa-download "></i>
                      <span class="sr-only">Download image</span>
                  </a>
                  <img data-src="{{product.imageUrl}}" alt="" class="lazy img-fluid loaded" src="{{product.imageUrl}}" data-was-processed="true">
              </div>
              <div class="d-none d-sm-block">
                  <p class="h6 mb-1"><a href="#" title="Download Marketing Assets" class="text-dark"><i class="fa fa-fw fa-cloud-download"></i> Download marketing Assets</a>
                  </p>
                  <p class="h6"><a href="#" title="More Information" class="text-dark"><i class="fa fa-file-text-o fa-fw"></i> More Information</a>
                  </p>
              </div>
          </div>
          <div class="col-12 col-lg-10">

              <h3 class="h4 mb-1">{{product.code}}</h3>

              <table class="variant-options-table w-100">
                  <thead class="">
                      <tr>
                          <th>Size</th>
                          <th class="px-0 price-col">Carton</th>
                          <th class="px-0 price-col">Pack</th>
                          <th class="px-0 price-col">Single</th>
                          <th>Stock</th>
                          <th class="">+5 Days</th>
                          <th class="qty-col">Qty</th>
                          <th class="px-0 d-none d-md-table-cell">
                              <span class="text-nowrap">Stock Watch</span>
                          </th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr>
                          <td class=" strong">
                              <!-- <span class="h6 d-sm-none">Size: </span> -->
                              S</td>
                          <td class="px-0 table-prices">

                              <span class="strong table-price">£4.50
                  <span class="strong">
                  <!-- <span class="d-sm-none">Carton </span> --> (50)
                              </span>
                              </span>

                              <span class="strong text-danger table-price">£4.50</span>
                              <span class="strong text-success table-price">£4.50</span>
                          </td>
                          <td class="px-0 table-prices">

                              <span class="strong table-price">£4.50
  <span class="strong">
  <!-- <span class="d-sm-none">Pack </span> --> (10)
                              </span>
                              </span>

                              <span class="strong text-danger table-price">£4.50</span>
                              <!-- <span class="strong text-success table-price">&pound;4.50</span> -->
                          </td>
                          <td class="px-0 table-prices">

                              <span class="strong table-price">£4.50
  <span class="strong">
  <!-- <span class="d-sm-none">Single </span> --> (1)
                              </span>
                              </span>

                              <!-- <span class="strong text-danger table-price">&pound;4.50</span>
<span class="strong text-success table-price">&pound;4.50</span> -->
                          </td>
                          <td class="">
                              <!-- <span class="h6 d-sm-none">Stock: </span> -->
                              90</td>
                          <td class="">
                              3,860</td>
                          <td class=" last">
                              <div class="form-group no-gutters mb-0">
                                  <label for="inputEmail3" class="sr-only">Qty:</label>

                                  <input type="number" class="form-control form-control-sm qty-box" id="inputEmail3" placeholder="0">

                              </div>
                          </td>
                          <td class="hidden-xs">
                          </td>
                      </tr>
                      <tr>
                          <td class=" strong">
                              <!-- <span class="h6 d-sm-none">Size: </span> -->
                              M</td>
                          <td class="px-0 table-prices">

                              <span class="strong table-price">£4.50
  <span class="strong">
  <!-- <span class="d-sm-none">Carton </span> --> (50)
                              </span>
                              </span>

                              <span class="strong text-danger table-price">£4.50</span>
                              <span class="strong text-success table-price">£4.50</span>
                          </td>
                          <td class="px-0 table-prices">

                              <span class="strong table-price">£4.50
  <span class="strong">
  <!-- <span class="d-sm-none">Pack </span> --> (10)
                              </span>
                              </span>

                              <span class="strong text-danger table-price">£4.50</span>
                              <!-- <span class="strong text-success table-price">&pound;4.50</span> -->
                          </td>
                          <td class="px-0 table-prices">

                              <span class="strong table-price">£4.50
  <span class="strong">
  <!-- <span class="d-sm-none">Single </span> --> (1)
                              </span>
                              </span>

                              <!-- <span class="strong text-danger table-price">&pound;4.50</span>
<span class="strong text-success table-price">&pound;4.50</span> -->
                          </td>
                          <td class="">
                              <!-- <span class="h6 d-sm-none">Stock: </span> -->
                              252</td>
                          <td class="">
                              9,380</td>
                          <td class=" last">
                              <div class="form-group no-gutters mb-0">
                                  <label for="inputEmail3" class="sr-only">Qty:</label>

                                  <input type="number" class="form-control form-control-sm qty-box" id="inputEmail3" placeholder="0">

                              </div>
                          </td>
                          <td class="hidden-xs">
                          </td>
                      </tr>
                      <tr>
                          <td class=" strong">
                              <!-- <span class="h6 d-sm-none">Size: </span> -->
                              L</td>
                          <td class="px-0 table-prices">

                              <span class="strong table-price">£4.50
  <span class="strong">
  <!-- <span class="d-sm-none">Carton </span> --> (50)
                              </span>
                              </span>

                              <span class="strong text-danger table-price">£4.50</span>
                              <span class="strong text-success table-price">£4.50</span>
                          </td>
                          <td class="px-0 table-prices">

                              <span class="strong table-price">£4.50
  <span class="strong">
  <!-- <span class="d-sm-none">Pack </span> --> (10)
                              </span>
                              </span>

                              <span class="strong text-danger table-price">£4.50</span>
                              <!-- <span class="strong text-success table-price">&pound;4.50</span> -->
                          </td>
                          <td class="px-0 table-prices">

                              <span class="strong table-price">£4.50
  <span class="strong">
  <!-- <span class="d-sm-none">Single </span> --> (1)
                              </span>
                              </span>

                              <!-- <span class="strong text-danger table-price">&pound;4.50</span>
<span class="strong text-success table-price">&pound;4.50</span> -->
                          </td>
                          <td class="">
                              <!-- <span class="h6 d-sm-none">Stock: </span> -->
                              293</td>
                          <td class="">
                              11,800</td>
                          <td class=" last">
                              <div class="form-group no-gutters mb-0">
                                  <label for="inputEmail3" class="sr-only">Qty:</label>

                                  <input type="number" class="form-control form-control-sm qty-box" id="inputEmail3" placeholder="0">

                              </div>
                          </td>
                          <td class="hidden-xs">
                          </td>
                      </tr>
                      <tr>
                          <td class=" strong">
                              <!-- <span class="h6 d-sm-none">Size: </span> -->
                              XL</td>
                          <td class="px-0 table-prices">

                              <span class="strong table-price">£4.50
  <span class="strong">
  <!-- <span class="d-sm-none">Carton </span> --> (50)
                              </span>
                              </span>

                              <span class="strong text-danger table-price">£4.50</span>
                              <span class="strong text-success table-price">£4.50</span>
                          </td>
                          <td class="px-0 table-prices">

                              <span class="strong table-price">£4.50
  <span class="strong">
  <!-- <span class="d-sm-none">Pack </span> --> (10)
                              </span>
                              </span>

                              <span class="strong text-danger table-price">£4.50</span>
                              <!-- <span class="strong text-success table-price">&pound;4.50</span> -->
                          </td>
                          <td class="px-0 table-prices">

                              <span class="strong table-price">£4.50
  <span class="strong">
  <!-- <span class="d-sm-none">Single </span> --> (1)
                              </span>
                              </span>

                              <!-- <span class="strong text-danger table-price">&pound;4.50</span>
<span class="strong text-success table-price">&pound;4.50</span> -->
                          </td>
                          <td class="">
                              <!-- <span class="h6 d-sm-none">Stock: </span> -->
                              213</td>
                          <td class="">
                              7,480</td>
                          <td class=" last">
                              <div class="form-group no-gutters mb-0">
                                  <label for="inputEmail3" class="sr-only">Qty:</label>

                                  <input type="number" class="form-control form-control-sm qty-box" id="inputEmail3" placeholder="0">

                              </div>
                          </td>
                          <td class="hidden-xs">
                          </td>
                      </tr>
                      <tr>
                          <td class=" strong">
                              <!-- <span class="h6 d-sm-none">Size: </span> -->
                              XXL</td>
                          <td class="px-0 table-prices">

                              <span class="strong table-price">£4.50
  <span class="strong">
  <!-- <span class="d-sm-none">Carton </span> --> (50)
                              </span>
                              </span>

                              <span class="strong text-danger table-price">£4.50</span>
                              <span class="strong text-success table-price">£4.50</span>
                          </td>
                          <td class="px-0 table-prices">

                              <span class="strong table-price">£4.50
  <span class="strong">
  <!-- <span class="d-sm-none">Pack </span> --> (10)
                              </span>
                              </span>

                              <span class="strong text-danger table-price">£4.50</span>
                              <!-- <span class="strong text-success table-price">&pound;4.50</span> -->
                          </td>
                          <td class="px-0 table-prices">

                              <span class="strong table-price">£4.50
  <span class="strong">
  <!-- <span class="d-sm-none">Single </span> --> (1)
                              </span>
                              </span>

                              <!-- <span class="strong text-danger table-price">&pound;4.50</span>
<span class="strong text-success table-price">&pound;4.50</span> -->
                          </td>
                          <td class="">
                              <!-- <span class="h6 d-sm-none">Stock: </span> -->
                              0</td>
                          <td class="">
                              2,920</td>
                          <td class=" last">
                              <div class="form-group no-gutters mb-0">
                                  <label for="inputEmail3" class="sr-only">Qty:</label>

                                  <input type="number" class="form-control form-control-sm qty-box" id="inputEmail3" placeholder="0">

                              </div>
                          </td>
                          <td class="hidden-xs">
                              <a href="#" class="text-info">
                                  <span class="fa-stack fa-lg">
      <i class="fa fa-circle fa-stack-2x"></i>
      <i class="fa fa-eye fa-stack-1x fa-inverse"></i>
  </span>
                              </a>
                          </td>
                      </tr>
                  </tbody>
                  <tfoot class="text-right hidden-xs">
                      <tr>
                          <td colspan="2" class="hidden-xs">
                              &nbsp;
                          </td>
                          <td colspan="2" class="d-block float-right clear d-sm-table-cell float-sm-none">
                              <span class=""><span class="text-muted">Order Lines: </span> 4</span>
                          </td>
                          <td colspan="2" class="d-block float-right clear d-sm-table-cell float-sm-none">
                              <span class=""><span class="text-muted">Total Items: </span> 80</span>
                          </td>
                          <td colspan="2" class="d-block float-right clear d-sm-table-cell float-sm-none">
                              <span class=""><span class="text-muted">Total: </span> £360,000</span>
                          </td>
                      </tr>
                  </tfoot>
              </table>
              <div class="card text-right d-sm-none">
                  <div class="card-body p-05">
                      <span class="strong text-nowrap">
<span class="text-muted">Order Lines: </span> 4
                      </span>
                      <span class="strong text-nowrap">
<span class="text-muted">Total Items: </span> 80
                      </span>
                      <span class="strong text-nowrap">
<span class="text-muted">Total: </span> £360,000
                      </span>
                  </div>
              </div>
              <div class="row mt-1">
                  <!-- Content Area -->

                  <div class="col-12 ">
                      <div class="alert alert-warning text-center mb-0">
                          Content Area
                      </div>
                  </div>

                  <!--/ Content Area -->
              </div>
          </div>

      </div>
  </div>
  <div class="row">
      <div class="col-12 col-sm-6 col-md-5 order-sm-2 text-sm-right mb-2 mb-sm-0">
          <div class="buttons">
              <a href="#" title="Go to the checkout" class="btn btn-link">Go to checkout</a>
              <button class="btn btn-success float-right float-sm-none">Add to Basket</button>
          </div>
      </div>
      <div class="col-12 col-sm-6 col-md-7 order-sm-1">
          <span class="h6 mb-0 mr-2 d-block d-md-inline">Key:</span> 
          <span class="key-item mr-1"><i class="fa fa-circle"></i> Directory Price</span>
          <span class="key-item mr-1 text-danger"><i class="fa fa-circle"></i> Your Price Price</span>
          <span class="key-item mr-1 text-success"><i class="fa fa-circle"></i> Web Promo Price</span>
          <span class="key-item mr-1 text-dark strong"><i class="fa fa-asterisk"></i> Price You'll Pay</span>
      </div>
  </div>
</div>